/* HEADER */
.position{
    width: 1200px;
    margin-top: 50px;
    margin: 0 auto;
}
.header-div{
    width: 1200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    z-index: 400;
    top: 0px;
}
/* header logo */
.header-logo{
    display: flex;
    width: 200px;
    height: 38px;
    justify-content: center;
}
.icon{
    width:42px ;
    height: 29px;
}
.logo-p{
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: bold;
    color: rgba(55, 57, 63, 1);
}
.logo-span{
    color: rgba(107, 119, 229, 1);
}
.button{
    color:white ;
}
/* header menu */
.header-ul{
    width: 825px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.header-menu{
    width: 825px;
    display: flex;
    justify-content: space-between;
}
.header-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 65px;
    background-color:rgba(107, 119, 229, 1);
}
.header-li{
    font-family: 'Inter', sans-serif;
    color: rgba(55, 57, 63, 1);
}
.button{
    color: white;
}
/* MAIN*/

/* div1-1 */
.main-div1{
    width: 1220px;
    height: 510px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 70px;
}
.main-div1-1{
    width: 300px;
    height: 86 px;
    margin: 0 auto;
}
.div1-1-h2{
    font-size: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: bold;
    color: rgba(55, 57, 63, 1);
}
.div1-1-h3{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    color: rgba(55, 57, 63, 1);


}

/* div1-2 */
.main-div2{
    width: 1220px;
    height: 383px;
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
}
.div2-1{
    width: 386px;
    background-color:rgba(244, 244, 244, 1);
}
.div2-1-h3{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins';
    font-weight: 600;
    color:rgba(55, 57, 63, 1) ;

}
.div2-1-p1{
    font-size: 18px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    color: rgba(125, 125, 125, 1);
}
.div2-text{
    width: 300px;
    margin: 0 auto;
    margin-top: 58px;
}
.div2-1-p2{
    font-size: 18px;
    text-align: center;
    margin-top: 50px;
    color: rgba(107, 119, 229, 1);
}
.div2-1-div{
    width: 72px;
    height: 72px;
    margin: 0 auto;
    background-color:rgba(64, 221, 182, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 50px;
}
.div2-1-div-icon{
    width: 43px;
}
.div2-1-div2{
    width: 72px;
    height: 72px;
    margin: 0 auto;
    background-color:rgba(107, 119, 229, 1) ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 50px;
}

/* main-div3 */

.main-div3{
    width: 1920px;
    height: 557px;
    margin: 0 auto;
    position: relative;
}
.div3-image{
    width: 100%;
    height: 557px;
}
.div3-1{
    width: 511px;
    height: 270px;
    position: absolute;
    top: 150px;
    left: 700px;
}
.div3-h4{
    font-size: 18px;
    text-align: center;
    margin-bottom:30px;
    color: rgba(55, 57, 63, 1);
    font-family: 'Inter', sans-serif;
}
.div3-h2{
    font-size: 40px;
    text-align: center;
    margin-bottom:30px;
    font-weight: bold;
    font-family: 'Poppins';
    color: rgba(55, 57, 63, 1);
}
.div3-p{
    font-size: 18px;
    text-align: center;
    margin-bottom:30px;
    font-family: 'Inter', sans-serif;
    color: rgba(55, 57, 63, 1);

}
/* main-div4 */
.div4-1{
    width: 386px;
    height: 532px;
    position: relative;
}
.div4-1-div{
    background-color: white;
    width: 341px;
    height: 114px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}
.div4-h2{
    font-size: 25px;   
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins';
     color: rgba(55, 57, 63, 1);
     font-weight: 600;


}
.div4-h4{
    text-align: center;
    color: rgba(55, 57, 63, 1);
    font-family: 'Inter', sans-serif;
}
.vector{
    width: 30px;
}